node_modules
dist
scratch
android/app/build
android/build
android/.gradle
*.log
release/*.apk
android/local.properties
ios/App/build
ios/DerivedData
release/*.ipa
.claude
.wrangler
.netlify
.env
*.jks
*.keystore
